@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* google fonts */


/* Elementu atlase */

body{
    background-color: #FFFCE8;
    color:#3E363F;
    margin:0px;
}


section{
      background-color: #B8B42D;
      margin: 50px;
      padding: 20px;
       width:50%;
       margin:50px auto;
       border-bottom:5px solid black;
}

section#sec1{

    background-color: #B8B42D;
    /* height: 300px; */


    h1{

    }
}
section#sec2{
    background-color: #697A21;
     
}
section#sec3{
    background-color: #DD403A;
    width:50%;
}


img{
    width:300px;
    border:5px solid white;
}

nav{
    padding: 20px;
    background-color: #3E363F;
    display: flex;
    justify-content: center;
    gap:20px;


    a{
        color:white;
        text-decoration: none;
    }


}


header{


}

footer{
    padding: 50px;
    background-color: #3E363F;
    color:#FFFCE8;
    text-align: center;
}


.section_gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    width:50%;
    margin:auto;


    img{
        width:100%;
        box-sizing: border-box;
        border-radius: 10px;
    }

}



/* Google fonts */
/* Teksta noformēšana */
html{
    scroll-behavior: smooth;
}


body{
    font-family: "Verdana", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-size:14pt;
    text-indent: 1rem;
    box-sizing: border-box;

    /* Fona attēls */
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/200/839/non_2x/music-note-png.png');
    background-size: 50%;
    background-position: left 350px;
    background-repeat: no-repeat;
}








h1{
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.481);
    text-transform: uppercase;
    text-decoration: underline wavy red 3px;
    /* color:red; */
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;


    
}

.izcelts{
    text-decoration: underline wavy red 3px;
}



/* Pozicionēšana */

#sec1{
    position: static; 
    /* noklusētā vērtība */

    position: relative;
    left:100px;
    top:-50px;

    position: absolute;
    top:10px;
    left:0px;
    z-index: 10;


    position: fixed;



}

#sec2{
    position: relative;
    left:-100px;
    /* top:50px; */
}

nav{
    position: sticky;
    top:0px;
    z-index: 10;

}


aside{
    padding: 20px;
    background-color: antiquewhite;
    border-radius:  0px 10px 10px 0px;
    box-shadow: 0px 0px 5px black;
    position: fixed;
    left:0px;
    top:300px;
    display: flex;
    flex-direction: column;
    gap:30px;
    /* width: 100px;
    height:400px */
    z-index: 1000;
}


.chat{
    

}