@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* google fonts */


/* Elementu atlase */

body{
    background-color: #FFFCE8;
    color:#3E363F;
    margin:0px;
}


section{
      background-color: #B8B42D;
      margin: 50px;
      padding: 20px;
       width:50%;
       margin:50px auto;
       border-bottom:5px solid black;
}

section#sec1{

    background-color: #B8B42D;
    /* height: 300px; */


    h1{

    }
}
section#sec2{
    background-color: #697A21;
     
}
section#sec3{
    background-color: #DD403A;
    width:50%;
}


img{
    width:300px;
    border:5px solid white;
}

nav{
    padding: 20px;
    background-color: #3E363F;
    display: flex;
    justify-content: center;
    gap:20px;


    a{
        color:white;
        text-decoration: none;
    }


}


header{


}

footer{
    padding: 50px;
    background-color: #3E363F;
    color:#FFFCE8;
    text-align: center;
}


.section_gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    width:50%;
    margin:auto;


    img{
        width:100%;
        box-sizing: border-box;
        border-radius: 10px;
    }

}



/* Google fonts */
/* Teksta noformēšana */
html{
    scroll-behavior: smooth;
}


body{
    font-family: "Verdana", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-size:14pt;
    text-indent: 1rem;
    box-sizing: border-box;

    /* Fona attēls */
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/200/839/non_2x/music-note-png.png');
    background-size: 50%;
    background-position: left 350px;
    background-repeat: no-repeat;
}








h1{
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.481);
    text-transform: uppercase;
    text-decoration: underline wavy red 3px;
    /* color:red; */
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;


    
}

.izcelts{
    text-decoration: underline wavy red 3px;
}



/* Pozicionēšana */

#sec1{
    
    /* noklusētā vērtība */

    position: relative;
    left:100px;
    top:-50px; 

    /* position: absolute;
    top:10px;
    left:0px;
    z-index: 10;


    position: fixed; */

    position: static; 

}

#sec2{
    position: relative;
    left:-100px;
    /* top:50px; */
}

nav{
    position: sticky;
    top:0px;
    z-index: 10;

}


aside{
    padding: 20px;
    background-color: antiquewhite;
    border-radius:  0px 10px 10px 0px;
    box-shadow: 0px 0px 5px black;
    position: fixed;
    left:0px;
    top:300px;
    display: flex;
    flex-direction: column;
    gap:30px;
    /* width: 100px;
    height:400px */
    z-index: 1000;
}


.chat{
    padding: 20px;
    background-color: antiquewhite;
    border-radius:  10px;
    box-shadow: 0px 0px 5px black;
    position: fixed;
    right:10px;
    bottom:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    /* width: 100px;
    height:400px */
    z-index: 1000;

    h5{
        margin:0px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap:20px;
    }

}


/* pseido klases */


h1:hover{
    color:pink;
    font-size: 5rem;
    transform:rotate(10deg);
    transition:all 0.3s cubic-bezier(0,1.06,.67,1.43); 
    transition:all 0.3s ease-in-out; 
}

h1:active{
    color:blue;

}

form input:focus-visible, form textarea:focus-visible{
    font-size: 1.5rem;
    background-color: #3E363F;
    color: #FFFCE8;

}

nav a:hover{
    color:red;
    transform: scale(1.2);
    transition:all 0.5s cubic-bezier(0,1.06,.42,1.43); 
}

nav a{
     transition:all 0.3s ease-in; 
}

/* .section_gallery img:hover{
    transform: scale(1.5);
    transition:all 0.5s cubic-bezier(0,1.06,.42,1.43); 

}
.section_gallery img{
     transition:all 0.1s linear; 
} */

.section_gallery img:hover{-webkit-animation:flip-2-ver-left-2 .5s cubic-bezier(.455,.03,.515,.955) both;animation:flip-2-ver-left-2 .5s cubic-bezier(.455,.03,.515,.955) both}
h1{-webkit-animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) infinite alternate-reverse both;animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) infinite alternate-reverse both}

@-webkit-keyframes flip-2-ver-left-2{0%{-webkit-transform:translateX(0) rotateY(0);transform:translateX(0) rotateY(0);-webkit-transform-origin:0 50%;transform-origin:0 50%}100%{-webkit-transform:translateX(-100%) rotateY(-180deg);transform:translateX(-100%) rotateY(-180deg);-webkit-transform-origin:100% 0;transform-origin:100% 0}}@keyframes flip-2-ver-left-2{0%{-webkit-transform:translateX(0) rotateY(0);transform:translateX(0) rotateY(0);-webkit-transform-origin:0 50%;transform-origin:0 50%}100%{-webkit-transform:translateX(-100%) rotateY(-180deg);transform:translateX(-100%) rotateY(-180deg);-webkit-transform-origin:100% 0;transform-origin:100% 0}}


@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}